body{
	background-color:#f8f8f8;
	display:grid;
	
	
}
.book-library{
	background-color:#ffffff;
	
	

}
.book{
margin:0;
	padding:0;
	

}
.author{
	color:#777777;
	
	
}
.price{
	display:flex;
	border:1px solid non;
	width:100%;
	background-color:#2ecc71;
	color:#ffffff;
	justify-content:center;
}
.book-library h1 {
  text-align: center;
}

.book img {
  display: block;
  margin: 0 auto;
}
.book h3 {
  margin: 0;
}

.author {
  margin: 0;
}
.price{
	margin:0;
}
